/* Write your CSS here */
.success-container {
  width: 70%;
}
.container {
  display: flex;
}
.product-detail-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img {
  height: 690px;
  margin-right: 30px;
  border-radius: 15px;
}

.titled {
  color: #475569;
  font-size: 38px;
  font-family: Roboto;
}

.priced {
  color: black;
  font-size: 24px;
}

.products {
  width: 27vw;
}

.rating-review {
  display: flex;
  align-items: center;
}

.rating-container {
  display: flex;
  width: 70px;
  height: 45px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.product-description {
  color: #616e7c;
  line-height: 1.5;
  font-size: 18px;
}

.star {
  width: 30px;
  height: 30px;
}

.review-count {
  color: #475569;
  font-size: 21px;
  font-family: Roboto;
}

.label-value-container {
  display: flex;
  margin-top: 0px;
  padding-top: 0px;
}

.para {
  color: #1e293b;
  font-size: 20px;
  margin-right: 15px;
  font-family: Roboto;
}
.value {
  color: #616e7c;
  font-size: 20px;
  font-family: Roboto;
}

.quality-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.button {
  background-color: transparent;
  border: 0px;
  outline: none;
  cursor: pointer;
  width: 80px;
  font-size: 25px;
}

.quantity {
  font-size: 25px;
}

.cart {
  background-color: #3b82f6;
  color: white;
  font-weight: 700;
  border: 0px;
  cursor: pointer;
  outline: none;
  padding: 15px 40px;
  border-radius: 10px;
}
.similar-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

.heading {
  color: #475569;
  font-size: 35px;
  font-family: Roboto;
  margin-top: 100px;
}
